<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCR5KjJPEw__m9zgQeYcilkHyNaE-7oaXg</string>
	<key>GCM_SENDER_ID</key>
	<string>34232538402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cityway.cityWay</string>
	<key>PROJECT_ID</key>
	<string>cityway-d3cfb</string>
	<key>STORAGE_BUCKET</key>
	<string>cityway-d3cfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34232538402:ios:5129baddcd241e0fefc17b</string>
</dict>
</plist>